* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
ul, ol {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	font-family: OpenSans;
	font-weight: normal;
	line-height: 1;
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.category {
	margin-bottom: 11px;
}
.category a {
	text-transform: uppercase;
	color: #b59f5b;
	font-size: 14px;
	font-weight: bold;
}
.category a + a {
	margin-left: 7px;
}
.category a:hover {
	text-decoration: underline;
}
.title {
	font-family: OpenSans;
	font-weight: bold;
	text-transform: uppercase;
}
.aside-title,
.shop__title,
.trends__title {
	margin-bottom: 44px;
	font-size: 14px;
	text-align: center;
	position: relative;
}
.trends__title,
.shop__title {
	font-size: 20px;
}
.aside-title::after,
.trends__title::after,
.shop__title::after {
	content: '';
	display: block;
	position: absolute;
	top: 25px;
	left: calc(50% - 65px / 2);
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
}
.shop .shop__title::after,
.trends .trends__title::after {
	top: 31px;
}
.btn {
	border: none;
	background-color: #b59f5b;
	cursor: pointer;
}

/* header */
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.menu {
	padding: 29px 15px 0;
	display: flex;
	align-items: center;
}
.menu__body {
	display: flex;
	margin-left: auto;
}
.menu__link {
	text-transform: uppercase;
	font-size: 13px;
	margin: 0 35px 0 0;
}
.menu__link a {
	color: #fff;
}
.menu__link a:hover {
	text-decoration: underline;
}
.menu__link:last-child {
	margin-right: 0;
}

/* intro */
.intro {
	height: 448px;
	background: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: flex;
	margin-bottom: 59px;
}
.intro::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}
.intro__title {
	color: #fff;
	font-size: 45px;
	margin: auto;
	position: relative;
	z-index: 2;
	text-align: center;
	line-height: 1.667;
}

/* article */
.trends {
	width: 100%;
}
.trends__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.trends__item {
	flex-basis: calc(25% - 15px / 4);
	position: relative;
}
.trends__picture img {
	width: 100%;
}
.trends__picture {
	position: relative;
}
.trends__picture::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 0.5;
}

.trends__item-title {
	color: #fff;
	line-height: 1.2;
}
.trends__info {
	padding: 33px;
	border: 3px solid #b59f5b;
	position: absolute;
	left: 19px;
	right: 19px;
	bottom: 16px;
	z-index: 2;
}

/* main */
.page-content {
	margin-top: 64px;
	margin-bottom: 64px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
}
/* ---------- */
.main {
	width: 778px;
}
.post {
	display: flex;
	justify-content: space-between;
	margin-bottom: 58px;
}
.post:last-child {
	margin-bottom: 0;
}
.post__img {
	margin-right: 30px;
}
.post__title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 35px;
}
.post__publick {
	display: flex;
	margin-bottom: 50px;
	font-size: 12px;
}
.date {
	margin-right: 14px;
	color: #888888;
}
.author {
	font-weight: bold;
	font-style: normal;
}
.post__text {
	font-size: 15px;
	line-height: 1.25;
}

/* aside */
.aside {
	width: 272px;
}
.aside-title {
	margin-bottom: 44px;
	font-size: 14px;
	text-align: center;
	position: relative;
}
.new-post {
	margin-bottom: 60px;
}
.new-post__item {
	display: flex;
	margin-bottom: 23px;
}
.new-post__item:last-child {
	margin-bottom: 0;
}
.new-post__info {
	margin-left: 18px;
}
.new-post__item-title {
	font-size: 14px;
	line-height: 1.2;
}
.new-date {
	display: inline-block;
	margin: 0 0 10px 0;
	font-size: 12px;
}

/* forms */
.forms {
	width: 100%;
	margin-bottom: 62px;
}
.search {
	display: flex;
	margin-bottom: 62px;
}
.input-feild {
	background-color: #f4f7f6;
	border: none;
	padding: 17px 20px;
}
.search-feild {
	flex: 1 1 auto;
}
.go-search {
	flex: 0 0 49px;
	border: none;
	background: url(../svg/search.svg) center no-repeat;
	background-size: 20px;
	background-color: #b59f5b;
	cursor: pointer;
}
.subscribe {
	width: 100%;
}
.email {
	width: 100%;
	margin-bottom: 18px;
}
.subscribe__btn {
	padding: 15px 20px;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
}

/* tags */
.tags {
	margin-bottom: 62px;
}
.tags__list {
	display: flex;
	flex-wrap: wrap;
}
.tags__item {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 6px;
	border: 3px solid #eeeeee;
	padding: 8px 14px;
}
.tags__item:nth-child(n+7) {
	margin-bottom: 0;
}

/* themes */
.themes__item {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 15px;
}
.themes__item:nth-child(n+1){
	margin-top: 19px;
}
.themes__item sup {
	color: #b59f5b;
}

/* shop */
.shop {
	margin-bottom: 33px;
}
.shop__conntainer {
	width: 100%;
	max-width: 1123px;
	margin: 0 auto;
}
.shop__body {
	display: flex;
	justify-content: space-between;
}
.shop__item {
	max-width: 300px;
}
.shop__item-info {
	margin-bottom: 22px;
}
.shop__item-buy {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shop__item-price {
	font-size: 14px;
	font-weight: bold;
}
/* .shop__item:nth-child(2n+1) .shop__item-price p:first-child {
	text-decoration: line-through;
} */
.shop__item-price p:last-child {
	font-size: 20px;
}
.shop__item-btn {
	padding: 15px 30px;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}
.shop__item-title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}
.shop__description {
	font-size: 15px;
	line-height: 1.46;
}
.shop__link {
	color: #b59f5b;
}
.shop__link:hover {
	text-decoration: underline;
}
.shop__item-inner {
	padding: 53px 21px 0;
	width: 346px;
	height: 266px;
	border: 3px solid #b59f5b;
	position: relative;
	top: -32px;
	left: -23px;
}

/* social */
.address {
	margin-bottom: 74px;
}
.addres__social {
	display: flex;
	justify-content: center;
	background-color: #f4f7f6;
	padding: 30px 30px;
}
.social__icon a img{
	width: 25px;
	margin-right: 27px;
}

.copyright {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #999;
	margin-bottom: 40px;
}