@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype"), url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 280px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "OpenSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "OpenSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

.footer__address {
  background-color: #f4f7f6;
  padding: 30px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.social__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
}
.social__icon img {
  width: 100%;
}

.copyright {
  padding: 75px 0 40px;
  text-align: center;
}

.header {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 50;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu__icon {
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 100;
}
.menu__icon span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.menu__icon span:last-child {
  bottom: 0;
}
.menu__icon._active span:first-child {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__icon._active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__icon._active span:last-child {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0 35px 0 0;
}
.menu__list li:last-child {
  margin: 0;
}
.menu__link {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.menu__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #3a4847;
    padding: 100px 0 60px 0;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__icon {
    display: block;
  }
  .menu__icon:hover {
    cursor: pointer;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    font-size: 40px;
    margin: 0 0 20px 0;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .menu__icon {
    display: none;
  }
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.category {
  margin-bottom: 15px;
}
.category a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  margin-right: 15px;
}
.category a:hover {
  text-decoration: underline;
}
.category a:last-child {
  margin: 0;
}

.title_d {
  text-align: center;
}
.title_d::after {
  content: "";
  width: 67px;
  height: 4px;
  display: block;
  margin: 14px auto 0;
  background-color: #e1d9bd;
}

.date {
  font-size: 12px;
  color: #888888;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
}
@media (min-width: 280px) {
  ._container {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  ._container {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  ._container {
    padding: 0 15px;
  }
}

.intro {
  margin-bottom: 60px;
  position: relative;
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}
.intro__container {
  text-align: center;
}
.intro__logo {
  max-width: 100%;
  margin: 0 0 40px 0;
}
.intro__title {
  font-size: 26px;
  color: #fff;
  line-height: 36px;
  font-weight: bold;
}
@media (min-width: 280px) {
  .intro {
    background: url(../img/banner-mobile.jpg) center/cover no-repeat;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__container {
    z-index: 3;
  }
  .intro__title {
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .intro__logo {
    width: 270px;
    max-width: 100%;
    margin: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .intro {
    background: url(../img/banner-bg-tablet.jpg) center/cover no-repeat;
    height: auto;
  }
  .intro__container {
    padding: 180px 0 120px;
  }
  .intro__logo {
    width: 160px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .intro__title {
    max-width: 610px;
    font-size: 40px;
    line-height: 55px;
  }
}
@media (min-width: 280px) and (orientation: landscape) and (max-height: 767px) {
  .intro {
    background: url(../img/banner-bg-tablet.jpg) center/cover no-repeat;
    height: 100vh;
  }
  .intro__container {
    padding: 0;
  }
  .intro__logo {
    width: 160px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 36px;
  }
  .intro__title {
    max-width: 450px;
    font-size: 30px;
    line-height: 40px;
  }
}
@media (min-width: 1024px) {
  .intro {
    background: url(../img/banner-bg.jpg) center/cover no-repeat;
    height: auto;
  }
  .intro__container {
    padding: 190px 0 140px;
  }
  .intro__title {
    max-width: 690px;
    font-size: 45px;
    line-height: 75px;
  }
}
@media (min-width: 1230px) {
  .intro__container {
    position: relative;
    width: 1230px;
  }
  .intro__logo {
    left: 15px;
  }
}

.trends {
  margin-bottom: 64px;
}
.trends__title {
  font-size: 20px;
  margin-bottom: 30px;
}
.trends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 280px) {
  .trends__item {
    padding: 0 0 60% 0;
    margin: 0 0 3px 0;
  }
  .trends__item:last-child {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .trends__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .trends__item {
    padding: 0 0 30% 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5px);
            flex: 0 1 calc(50% - 1.5px);
  }
  .trends__item:nth-child(even) {
    margin: 0 0 3px 0px;
  }
  .trends__item:nth-child(odd) {
    margin: 0 3px 3px 0;
  }
}
@media (min-width: 1366px) {
  .trends__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .trends__item {
    padding: 0 0 20% 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .trends__item:nth-child(even) {
    margin: 0 3px 0 0px;
  }
  .trends__item:nth-child(odd) {
    margin: 0 3px 0 0;
  }
  .trends__item:last-child {
    margin: 0;
  }
}

.item-trends {
  position: relative;
}
.item-trends::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}
.item-trends__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-trends__info {
  position: absolute;
  left: 18px;
  bottom: 18px;
  right: 18px;
  z-index: 3;
  padding: 40px 30px 33px;
  border: 3px solid #b59f5b;
}
.item-trends__title {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 425px) {
  .item-trends__info {
    left: 15px;
    bottom: 15px;
    right: 15px;
    padding: 25px 10px 25px;
  }
  .item-trends__title {
    font-size: 18px;
  }
  .item-trends__category {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .item-trends__title {
    font-size: 14px;
  }
  .item-trends__info {
    left: 10px;
    bottom: 10px;
    right: 10px;
    padding: 15px;
  }
}
@media (min-width: 426px) {
  .item-trends__title {
    font-size: 17px;
  }
}
@media (min-width: 490px) {
  .item-trends__info {
    left: 18px;
    bottom: 18px;
    right: 18px;
    padding: 33px 20px;
  }
}
@media (min-width: 1024px) {
  .item-trends__title {
    font-size: 20px;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px;
}

@media (max-width: 1150px) {
  .main {
    margin: 0 35px 0 0;
  }
}
@media (max-width: 1050px) {
  .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  .aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}
@media (max-width: 620px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0 0 46px 0;
  }
  .aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}
.post__info {
  padding-left: 30px;
}
.post__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
}
.post__publick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.post__text {
  font-size: 15px;
  line-height: 22px;
}
@media (max-width: 1050px) {
  .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post__img {
    width: 100%;
  }
  .post__img img {
    width: 100%;
  }
  .post__title {
    font-size: 17px;
    line-height: 22px;
  }
  .post__info {
    padding: 0 0 20px 0;
    margin: 18px 0 0 0;
    border-bottom: 3px solid #eeeeee;
  }
}
@media (max-width: 620px) {
  .post {
    margin-bottom: 35px;
  }
  .post:last-child {
    margin-bottom: 0px;
  }
  .post__title {
    margin-bottom: 22px;
  }
}

.publick {
  font-size: 12px;
  margin-bottom: 50px;
}
.publick__date {
  margin-right: 15px;
}
.publick__author {
  font-style: normal;
  font-weight: bold;
}
@media (max-width: 1050px) {
  .publick {
    margin-bottom: 35px;
  }
}
@media (max-width: 620px) {
  .publick {
    margin-bottom: 22px;
  }
}

.new-post {
  margin-bottom: 60px;
}

.aside-title {
  margin-bottom: 30px;
}

.aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}
.aside-item__info {
  padding: 0 0 0 20px;
}
.aside-item__date {
  display: block;
  margin-bottom: 10px;
}
.aside-item__title {
  line-height: 18px;
}

.form {
  margin-bottom: 60px;
}
.form__search {
  margin-bottom: 60px;
}
@media (max-width: 620px) {
  .form {
    margin-bottom: 46px;
  }
  .form__search {
    margin-bottom: 46px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__feild {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.search__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  background: url(../img/svg/search.svg) center/18px 18px no-repeat;
}

.input-feild {
  background-color: #f4f7f6;
  line-height: 48px;
  font-size: 13px;
  padding: 0 20px;
}

.btn {
  background-color: #b59f5b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}

.subscribe__email {
  width: 100%;
  margin-bottom: 18px;
}
.subscribe__button {
  display: block;
  width: 100%;
  line-height: 48px;
}

.tags {
  margin-bottom: 60px;
}
.tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tags__item {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 13px;
  border: 3px solid #eeeeee;
  margin: 0 5px 5px 0;
}
.tags__item:last-child {
  margin-right: 0;
}
.tags__item:hover {
  cursor: pointer;
  border: 3px solid rgb(121, 117, 117);
}
@media (max-width: 620px) {
  .tags {
    margin-bottom: 46px;
  }
}

.themes {
  margin: 0 0 60px 0;
}
.themes__item {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 18px;
}
.themes__item sup {
  color: #b59f5b;
}
.themes__item:hover {
  cursor: pointer;
  color: #b59f5b;
}
@media (max-width: 620px) {
  .themes {
    margin-bottom: 46px;
  }
}

.shop {
  margin-bottom: 65px;
}
.shop__title {
  font-size: 20px;
  margin-bottom: 30px;
}
.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 348px;
          flex: 0 0 348px;
  height: 440px;
}
@media (max-width: 1100px) {
  .shop {
    margin-bottom: 55px;
  }
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%;
    margin: 0 0 30px 0;
    height: 520px;
  }
}
@media (max-width: 1020px) {
  .shop__item {
    height: 500px;
  }
}
@media (max-width: 950px) {
  .shop__item {
    height: 480px;
  }
}
@media (max-width: 880px) {
  .shop__item {
    height: 460px;
  }
}
@media (max-width: 800px) {
  .shop__item {
    height: 440px;
  }
}
@media (max-width: 700px) {
  .shop {
    margin-bottom: 45px;
  }
  .shop__body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 600px;
  }
}
@media (max-width: 620px) {
  .shop__item {
    height: 550px;
  }
}
@media (max-width: 540px) {
  .shop__item {
    height: 510px;
  }
}
@media (max-width: 490px) {
  .shop__item {
    height: 480px;
  }
}
@media (max-width: 420px) {
  .shop__item {
    height: 460px;
  }
}
@media (max-width: 385px) {
  .shop__item {
    height: 440px;
  }
}
@media (max-width: 350px) {
  .shop__item {
    height: 410px;
  }
}

.item-shop {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-shop__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 85%;
}
.item-shop__img img {
  width: 100%;
}
.item-shop__inner {
  min-height: 267px;
  padding: 50px 23px 15px;
  border: 3px solid #d3c59d;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.item-shop__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.item-shop__description {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}
.item-shop__link {
  color: #b59f5b;
}
.item-shop__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-shop__price {
  font-weight: bold;
}
.item-shop__price del {
  font-size: 14px;
}
.item-shop__price p {
  font-size: 20px;
}
.item-shop__btn {
  padding: 0 28px;
  text-transform: uppercase;
}
@media (max-width: 320px) {
  .item-shop__btn {
    padding: 0 15px;
  }
}