@import "./reset";
@import "./vars";
@import "./mixins";

.wrapper {
	@extend %wrapper;
	@include responsiveTo($mobileXS) {
		padding: 0 1.5rem;
	}
	@include responsiveTo($tablet) {
		padding: 0 3.5rem;
	}
	@include responsiveTo($desktop) {
		padding: 0 1.5rem;
	}
}

